
#panel {
    list-style-type: none;
    overflow: hidden;
    background-color: #dddddd;
}
#items {
          font-family: 'Orbitron', sans-serif;
    float: right;
    border-right: 2px solid #bbb;
    display: block;
    padding: 7px;
    background-color: #dddddd;
}
#wallpaper1 {
    Width: 100%
}
#main {
       background-image: url(wallpaer.jpg);
       background-color: darkorange;
    background-position: center center;
    background-size: cover;
    height: 656px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#maintext {
     font-family: 'Pacifico', cursive;
     
      
    
}
h1 { 
    width: 100%;
	text-align: center;
	left: 0;
	
}
#myphoto {
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
}
p {
    font-family: 'Baloo', cursive;
}
h3 {
    padding-left: 20px;
}
#contacts {
    
    background-color: YellowGreen	;
    
}
#number {
    padding-left: 10px;
    margin-bottom: 0px;
}
footer {
    margin:0 auto;
    background-color: black;
}
#footer {
    color: white;
    margin:0 auto;
    margin-left: 10px;
}
#vk {
    width: 7%;
    margin-left: 10px;
}
#fb {
    width: 7%;
    margin-left: 10px;
}
#gh {
    width: 6%;
    margin-left: 15px;
}
figcaption {
    text-align: center
    
}




